.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #FFFFFF;  /*Sets the text hover color on navbar*/
}

.navbar-default {
    background-color: #330066;
    color: #E5CCFF;
}

body {
	padding-bottom: 100px;
	background: url("photo_bg.jpg") no-repeat center center fixed;
	background-color:#CC99FF;
	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: #666;
}

.well {
	background-color:#E5CCFF;
	border-color: #E5CCFF;
}

/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: white;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 180px;
	max-width: 300px;
	text-align: center;
	position: relative;
	top: 0px;
}

h1#title span span {
	font-weight: 400;
}

legend{
	color: #666;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #000;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}
